// Variables
$font-stack: 'Dosis', sans-serif;
$website-width: 1280px;
$main-color: #ffbc00;
$light-color: #f4f4f4;
$dark-color: #333;
$medium_color: #ccc;
$bg-image: url('../img/showcase.jpg');

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #333;
  } @else {
    @return #fff;
  }
}
