/* BEGIN CORE STYLES */
/* CSS Reset: Clearing the margin and paddings, setup the box-sizing property to border-box */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Main Styling (html, body selectors):
*font-family
line-height
*/
html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
/* The links:
* default color
* set text-decoration to none
*/
a {
  color: #333;
  text-decoration: none;
}
/* The headers:
* padding-bottom
*/
h1,
h2,
h3 {
  padding-bottom: 20px;
}
/* p:
*Adding top and bottom padding | Less than headers padding
*/
p {
  padding: 10px 0;
}
/* Utility Classes */
.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

/* END CORE STYLES */

/* Header Styling */
/* Navbar (background color, text color, overflow */
/* overflow: auto means that the background shows no matter what */
#navbar {
  background: #333;
  color: #fff;
  overflow: auto;
}
/* Navbar links */
#navbar a {
  color: #fff;
}
/* arranging the .logo to the left and the ul to the right */
/* Here we will use float to achive that but it is recommended to use flexbox or grid display */
.logo {
  float: left;
  padding-top: 20px;
}
#navbar ul {
  list-style: none;
  float: right;
  /* padding-top: 20px; */
}
#navbar ul li {
  /* display: inline; */
  float: left;
}
#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}
#navbar a:hover,
#navbar a.current {
  background: #444;
  color: #f7c08a;
}
